.about {
  padding-top: 50px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    width: 580px;
    margin-right: 30px;

    @include small-tablet {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
    }
  }

  &__text {
    margin-bottom: 40px;

    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__img {
    max-width: 308px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include small-tablet {
      display: none;
    }
  }
}