.footer {
  padding: 50px 0;
  background-color: #00133D;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &__img {
    max-width: 215px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__box {
    color: $color-white;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__head {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}