.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &__container {
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    padding-top: 50px;
    display: inline-block;
    vertical-align: middle;
    background-color: $color-white;
    border-radius: 10px;
    cursor: default;
    text-align: left;
    display: none;
  }

  &__content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $color-dark;
      position: absolute;
      left: 0;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;

    @include small-tablet {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__item {
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    align-items: flex-start;

    &:first-child {
      @include small-tablet {
        flex-direction: column;
      }
    }
  }

  &__step {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;

    &:first-child {
      margin-right: 40px;
    }

    @include small-tablet {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__label {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__descr {
    margin-right: 15px;
  }

  &__text {
    margin-bottom: 20px;

    @include small-tablet {
      font-size: 12px;
      margin-bottom: 15px;
    }
  }

  &__textarea {
    width: 100%;
    resize: none;
    margin-bottom: 20px;
    height: 110px;
  }

  &__num {
    margin-right: 20px;
  }

  &__clear {
    padding: 2px 10px;
    font-size: 11px;
    background-color: #EEEEEE;
    border: 0.5px solid #605E5E;
    border-radius: 2px;
  }

  &__result {
    span {
      margin-right: 10px;
      font-size: 16px;
      font-weight: 500;
      color: $color-blue;
    }
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition-time), visibility var(--transition-time);

    .modal__container {
      display: inline-block;
    }
  }
}


.modal-form {
  padding: 20px;
  background-color: $color-blue;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include small-tablet {
      flex-wrap: wrap;
    }
  }

  &__label {
    display: inline-block;
    width: 100%;
    margin-right: 15px;

    @include small-tablet {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  &__input {
    width: 100%;
    padding: 12px 10px;

    &::placeholder {
      font-size: 16px;
      color: $color-dark;
    }
  }

  &__btn {
    width: 50%;
    padding: 12px 39px;

    @include small-tablet {
      width: 100%;
    }
  }
}