.services {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-bottom: 40px;

    @include tablet {
      grid-gap: 30px;
    }

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: $color-blue;
  }

  &__descr {
    font-size: 11px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__langs {
    display: flex;
    align-self: flex-end;
    margin-bottom: 12px;
  }

  &__lang {
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 15px;
    }

    @include small-tablet {
      font-size: 13px;
    }
  }

  &__list {
    width: 100%;
  }

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    margin-right: 15px;
    font-size: 16px;
    text-decoration: underline;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }

    @include small-tablet {
      font-size: 14px;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
  }

  &__price {
    font-weight: 600;
    font-size: 16px;
    white-space: nowrap;
    color: $color-blue;

    &:not(:last-child) {
      margin-right: 55px;

      @include small-tablet {
        margin-right: 30px;
      }
    }
  }

  &__right {
    .services__article {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}