.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $color-blue;
  // position: relative;

  // &::before {
  //   content: "";
  //   width: 100%;
  //   height: 714px;
  //   background-image: url('../images/hero-bg.png');
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }

  &__banner {
    padding: 35px 50px;
    border-radius: 35px;
    background-color: #fff;
    margin-bottom: 35px;
    position: relative;
    z-index: 0;
  }

  &__title {
    max-width: 520px;
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 40px;
    color: #000;
  }

  &__text {
    max-width: 430px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #605E5E;
  }

  &__img {
    max-width: 390px;
    position: absolute;
    right: 20px;
    bottom: -50px;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__benefits {
    display: flex;
    align-items: center;
    color: #fff;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    background-position: left center;
    background-repeat: no-repeat;

    &--order {
      background-image: url('../images/icons/order.svg');
      background-size: 52px 60px;
      padding-left: 70px;
    }

    &--market {
      background-image: url('../images/icons/market.svg');
      background-size: 67px 60px;
      padding-left: 80px;
    }

    &--lang {
      background-image: url('../images/icons/lang.svg');
      background-size: 71px 60px;
      padding-left: 87px;
    }
  }

  &__num {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 28px;
    font-weight: 600;
    line-height: 33px;
  }

  &__descr {
    font-size: 16px;
  }
}


.btn {}